@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: grid;
  background: linear-gradient(-45deg, #e2d4ff, #d6eaff, #ffe3ec, #fcefee,#d8deb4,#ffd4f6,#d4f6ff,#d9d4ff);
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
  font-family: "Poppins", sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
